  body {
    margin: 0;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.woff), 
         url(../fonts/OpenSans-Regular.ttf), 
         url(../fonts/OpenSans-Regular.woff2);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.woff),
         url(../fonts/OpenSans-Bold.ttf), 
         url(../fonts/OpenSans-Bold.woff2);
    font-weight: 700;
    font-style: normal;
  }
  
  .header {
    position: relative;
    padding: 30px;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #000000;
    z-index: 0;
    font-family: "Open Sans", arial, sans-serif;
   }
  
  .header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
  }

  .top-panel {
    width: 100%;
    box-sizing: border-box;
  }

  .top-panel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    padding: 30px;
  }
  
  .menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .header-logo {
    width: 160px;
  }

  .menu-button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .menu-button {
    width: 1.4em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .menu-button:before {
   top: 0;
  }

  .menu-button:after {
   bottom: 0;
  }

  .menu-button:before, .menu-button:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }

  .menu-button {
    display: none;
  }
  
  .menu-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none; 
  }

  .menu-list-item {
    display: inline-block;
    vertical-align: middle;
  }
  
  .menu-list-item:nth-child(n+2) {
    margin-left: 35px;
  }
  
  .menu-link {
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
   
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }
  
  .header-slogan {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 130px;
    padding-bottom: 140px;
  }

  .header-title {
    font-size: 40px;
    line-height: 1.375em;
    max-width: 680px;
    margin: auto;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }

  .trends-title {
      font-size: 20px;
      font-weight: bold;
      font-family: "Open Sans", arial, sans-serif;
      line-height: 1.45em;
      color: #0f0d0e;
      text-transform: uppercase;
      text-align: center;
      margin-top: 65px;
      margin-bottom: 25px;
  }

  .trends-title::after {
      content: "";
      width: 65px;
      background: #b59f5b;
      height: 3px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 10px;
      opacity: 0.4;
  }

  .trends {
      display: flex;
      flex-wrap: wrap;
  }

@media (min-width: 1201px) {
  .trend-card:nth-child(n+2) {
     margin-left: 0.5%;
  }

  .product:nth-child(-n+2) {
    margin-right: 6%;
  }
}
  .trend-card {
      display: flex;
      align-items: flex-end;
      position: relative;
      background-color: #eff6f1;
      box-sizing: border-box;
      z-index: 0;
      width: calc(98.5%/4);
      padding: 15px 20px;
  }

  .trend-card::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000000;
      opacity: 0.6;
      z-index: -1;
  }

  .trend-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border: 3px solid #b59f5b;
      padding: 35px 30px ;
  }

  .trend-tags {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding-inline-start: unset;
      margin: 0;
  }

  .trend-tag {
      font-size: 14px;
      margin-right: 15px;
      font-weight: bold;
      font-family: "Open Sans", arial, sans-serif;
  }

  .trend-tag:last-child {
      margin-right: 0;
  }

  .trend-text {
      font-size: 20px;
      font-weight: bold;
      font-family: "Open Sans", arial, sans-serif;
      line-height: 1.2em;
      color: #ffffff;
      text-transform: uppercase;
      margin-top: 5px;
      margin-bottom: 0;
  }

  .trend-image1 {
      background-image: url(../images/trend1.jpg);
      }

  .trend-image2 {
      background-image: url(../images/trend2.jpg);
  }

  .trend-image3 {
      background-image: url(../images/trend3.jpg);
  }

  .trend-image4 {
      background-image: url(../images/trend4.jpg);
  }

  .trend-image1, .trend-image2, .trend-image3, .trend-image4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 320px;
  }

  .trend-link {
      text-decoration: none;
      color: #ffffff;
  }
  
  .trend-link:hover {
      color: #b59f5b;
  }

  .main-content {
    max-width: 1170px;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: center;
    font-family: "Open Sans", arial, sans-serif;
  }
  
  .posts {
    max-width: 780px;
    margin-right: auto;
  }
  
  .image {
    width: 400px;
    background-color: #a3cac7;
    position: relative;
  }
  
  .card {
    display: flex;
    margin-bottom: 60px;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .tags-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b59f5b;
  }
  
  .tags-link:hover {
    text-decoration: underline;
  }
  
  .card-tag:nth-child(n+2) {
    margin-left: 15px;
  }
  
  .card-title-link {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    line-height: 1.2em;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
    
  }
  
  .card-title-link:hover {
    color: #b59f5b;
  }
  
  .card-title {
    margin-top: 5px;
  }
   
  .card-date {
    font-size: 12px;
    color: #888888;
    margin-right: 15px;
  }
  
  .card-author {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
  }
  
  .card-text {
    font-size: 15px;
    line-height: 1.4em;
    color: #0f0d0e;
  }
  
  .card-content {
    margin-left: 30px;
  }
  
  .aside-content {
    max-width: 272px;
  }

  .aside-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
  }
  
  .new-posts-title {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.45em;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
    position: relative;
    text-align: center;
  }
  
  .new-posts-title::after {
    content: "";
    width: 65px;
    background: #b59f5b;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    opacity: 0.4;
  }
  
  .card-aside {
    display: flex;
    
  }
  
  .card-aside-image {
    max-width: 70px;
  }
  
  .card-aside-content {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .card-date-aside {
    font-size: 12px;
    color: #000000;
    opacity: 0.54;
  }
  
  .aside-image {
    width: 70px;
    background-color: #a3cac7;
    position: relative;
  }
  
  .card-aside-title-link {
    font-size: 14px;
    line-height: 1.28em;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .card-aside-title-link:hover {
    color: #b59f5b;
  }
  
  .card-aside-title {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .new-posts article:first-of-type {
    margin-top: 25px;
  }
  
  .new-posts article:nth-child(n+2) {
    margin-top: 20px;
  }
  
  .search {
    display: flex;
    margin-top: 60px;
  }
  
  .form-hint {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .group-search {
    width: 86%;
  }
  
  .searchbox {
    box-sizing: border-box;
    width: -webkit-fill-available;
    height: 47px;
    padding: 15px 20px;
    font-size: 13px;
    font-family: inherit;
    color: #000000;
    vertical-align: middle;
    border: none;
    background-color: #f4f7f6;
  }
  
  .searchbox:focus {
    border-bottom: 1px solid #f4f7f6;
    outline: none;
  }
  
  .button-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .button-search {
    height: 47px;
    width: 47px;
    vertical-align: middle;
    margin-left: 0;
    border: none;
    background-color: #b59f5b;
    cursor: pointer;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
  }
  
  .button-search:hover {
    background-color: #323232;
  }
  
  .subscription-title {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    line-height: 2.1em;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    width: 110px;
  }
  
  .subscription-title::after {
    content: "";
    width: 60%;
    background: #b59f5b;
    height: 3px;
    position: absolute;
    left: 23px;
    bottom: -5px;
    opacity: 0.4;
  } 
  
  .email {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 22px;
  }
  
  .email-title {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  
  .email-field {
    box-sizing: border-box;
    height: 47px;
    border: none;
    font-size: 13px;
    font-family: inherit;
    color: #000000;
    padding: 15px 20px;
    background-color: #f4f7f6;
    width: -webkit-fill-available;
  }
  
  .email-field {
    outline: none;
  }
  
  .email-button {
    height: 47px;
    background-color: #b59f5b;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    margin-top: 17px;
    cursor: pointer;
  }
  
  .email-button:hover {
    background-color: #323232;
  }
  
  .tags-aside-title {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    width: 110px;
  }
  
  .tags-aside-title::after {
    content: "";
    width: 60%;
    background: #b59f5b;
    height: 3px;
    position: absolute;
    left: 23px;
    bottom: -5px;
    opacity: 0.4;
  } 
  
  .tags-aside-list {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: unset;
    margin-top: 40px;
  }
  
  .tag-aside:nth-child(n+1) {
    margin-right: 5px;
  }
  
  .tag-aside {
    display: inline-block;
    border: 3px solid #f4f3f1;
    padding: 3px 10px;
    margin-bottom: 5px;
  }
  
  .tag-aside-link {
    font-size: 12px;
    font-weight: bold;
    color: #0f0d0e;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .themes-title {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    line-height: 2.1em;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    width: 110px;
  }
  
  .themes-title::after {
    content: "";
    width: 60%;
    background: #b59f5b;
    height: 3px;
    position: absolute;
    left: 23px;
    bottom: -5px;
    opacity: 0.4;
  }
  
  .themes-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-inline-start: unset;
    
  }
  
  .themes-item {
    position: relative;
  }
  
  .themes-item::after {
    content: "";
    width: 100%;
    background: #eeeeee;
    height: 2px;
    position: absolute;
    bottom: -2.5px;
    opacity: 1;
    left: 0;
  }
  
  .themes-item-link {
    font-size: 14px;
    font-weight: bold;
    line-height: 3.35em;
    text-decoration: none;
    color: #000000;
    text-transform: capitalize;
    margin-right: 3px;
  }
  
  .themes-item-link:hover {
    color: #b59f5b;
  }
  
  .quantity {
    font-size: 12px;
    font-weight: bold;
    color: #b59f5b;
    line-height: 3em;
    vertical-align: super;
  }

  .products {
    font-family: "Open Sans" , arial, sans-serif;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .products-title {
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.45em;
    margin-bottom: 45px;
  }

  .products-title::after {
    content: "";
    width: 65px;
    background: #b59f5b;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    opacity: 0.4;
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .product {
    width: calc(88%/3);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: #0f0d0e;
  }

  .product-imgbox {
    margin-left: auto;
    margin-right: auto;
  }

  .product-image {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .product-body {
    height: 100%;
    padding: 55px 20px 20px;
    margin-top: -40px;
    border: 3px solid #b59f5b;
    box-sizing: border-box;
  }

  .product-title {
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.2em;
    color: #0f0d0e;
  }

  .product-description {
    font-size: 15px;
  }

  .product-description-link {
    text-decoration: none;
    color: #b59f5b;
  }

  .product-description-link:hover {
    text-decoration: underline;
  }

  .product-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 25px;
  }

  .product-price {
    font-size: 20px;
    font-weight: bold;
    display: flex;
  }

  .product-price-old {
    text-decoration: line-through;
    font-size: 14px;
    font-weight: bold;
  }

  .product-rub {
    margin-left: 0.2em;
  }

  .product-button {
    border: none;
    background-color: #b59f5b;
    padding: 1em 2em;
    cursor: pointer;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
  }
 
  .footer {
    max-width: 1170px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Open Sans", arial, sans-serif;
  }
  
  .social-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style-type: none;
    position: relative;
    background-color: #f4f7f6;
    padding-inline-start: 0;
    margin: 0;
  }
  
  .social-link {
    display: block;
    width: 23px;
    height: 23px;
  }
  
  .social-item-text {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    
  }
  
  .social-link-twitter::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background-image: url(../svg/004-twitter.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
    
  }
  
  .social-item:nth-child(n+2) {
    margin-left: 25px;
  }
  
  .social-link-pinterest {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background-image: url(../svg/001-pinterest.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
  }
  
  .social-link-facebook {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background-image: url(../svg/002-facebook-logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
  }
  
  .social-link-instagram {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background-image: url(../svg/005-instagram.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
  }
  
  .social-link-tumblr {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background-image: url(../svg/003-tumblr.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
  }
  .rights {
    margin-top: 73px;
    text-align: center;
  }
  
  .rights-text {
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    text-decoration: none;
  }

  .popup {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: "Open Sans", arial, sans-serif;
  }

  .popup-container {
    max-width: 390px;
    margin: auto;
    box-sizing: border-box;
    background-color: #ffffff;
    position: relative;
    padding: 50px 30px;
  }

  .popup-title {
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.45em;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .popup-title::after {
    content: "";
    width: 65px;
    background: #b59f5b;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    opacity: 0.4;
  }

  .form-row:nth-child(n+2) {
    margin-top: 30px;
  }

  .form--hint {
    display: block;
    font-size: 13px;
    font-family: inherit;
    margin-bottom: 10px;
  }

  .select {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 45px;

    padding-left: 20px;
    margin: 0;
    border: none;

    font-size: 13px;
    font-family: inherit;
    color: #000000;

    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    background-color: #f4f7f6;
  }

  .select:focus {
    outline: none;
  }

  .radio-group {
    display: inline-block;
    font-size: 13px;
  }

  .radio-group:nth-of-type(n+2) {
    margin-left: 15px;
  }

  .radio:checked ~ .radio-group-text::before {
    background-image: url(../svg/form-circle.svg);
  }

  .radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
  }

  .radio-group-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;

    width: 25px;
    height: 25px;

    margin-right: 3px;

    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
  }

  .form-group {
    display: block;
  }

  .textarea-field {
    min-height: 130px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    background-color: #f4f7f6;
    font-family: inherit;
    resize: none;
  }

  .textarea-field:focus {
    outline: none;
  }

 .popup-button {
   width: 100%;
   border: none;
   padding: 15px;
   color: #ffffff;
   background-color: #b59f5b;
   font-family: inherit;
   font-size: 14px;
   cursor: pointer;
   text-transform: uppercase;
 }

 .popup-close {
   display: inline-block;
   position: absolute;
   padding: 0;
   border: none;
   top: -3em;
   right: 1.5em;
   cursor: pointer;
   text-indent: -9999px;
   background: none;
 }

 .popup-close::after {
   content: "";
   width: 20px;
   height: 20px;
   background-image: url(../svg/form-x.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 20px;
   top: 50%;
   left: 50%;
   position: absolute;
 }

 .hidden {
   display: none;
 }

 @media (max-width: 1200px) {
  .menu-list {
    display: none;
  }

  .menu-button {
    display: inline-block;
  }

  .card {
    flex-direction: column;
  }

  .card-content {
    max-width: 400px;
    margin-left: 0;
  }
 }

 @media (min-width: 641px) and (max-width:1200px) {
   .header {
     background-image: url(../images/banner-bg-tablet.jpg);
   }

   .card::after {
    content: "";
    display: block;
    background: #eeeeee;
    height: 3px;
    max-width: 400px;
    margin-top: 25px;
  }

  .aside-content {
    margin-left: 5%;
  }

   .product {
     width: calc(94%/2);
     margin-bottom: 3%;
   }

   .product:nth-child(2n+1) {
     margin-right: 6%;
   }

   .popup-close::after {
     top: 0;
     left: -10px;
     width: 30px;
     height: 30px;
     background-size: 30px;
   }

   .radio-group-text::before {
     background-size: 25px;
   }

   .popup-title, .trends-title, .products-title {
     font-size: 18px;
   }
  }

  @media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
    .trend-card {
      width: calc(99.5%/2);
      margin-bottom: 0.5%;
    }

    .trend-card:nth-child(2n) {
     margin-left: 0.5%;
    }
  }

  @media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    .trend-card {
      width: calc(98.5%/4);
    }

    .trend-card:nth-child(n+2) {
      margin-left: 0.5%;
    }
  }
  @media (max-width: 640px) and (orientation:landscape) {
    .trend-card {
      width: calc(99.5%/2);
      margin-bottom: 0.5%;
    }
    .trend-card:nth-child(2n) {
      margin-left: 0.5%;
     }
  }

  @media (max-width: 640px) and (orientation: portrait) {
    .trend-card {
      width: 100%;
      margin-bottom: 0.5%;
    }
  }

  @media (max-width: 640px) {
    .header {
      background-image: url(../images/banner-mobile.jpg);
      padding: 30px 15px;
    }

    .header-title {
      font-size: 26px;
    }

    .top-panel-container {
      flex-direction: column-reverse;
    }

    .menu {
      align-self: flex-end;
    }

    .container {
      padding: 0;
    }

    .menu-button {
      font-size: 20px;
    }

    .menu-button:after, .menu-button:before {
      height: 15%;
    }

    .menu-button-label {
      height: 15%;
    }

    .header-logo {
      width: 270px;
      margin-bottom: 35px;
    }

    .trend-content {
      padding: 30px 20px;
    }

    .trend-text {
      font-size: 16px;
    }

    .main-content {
      flex-direction: column;
      margin-top: 45px;
      padding-left: 15px;
      padding-right: 15px;
      align-items: center;
    }

    .posts {
      display: contents;
    }

    .image {
      max-width: 330px;
    }

    .card-title-link {
      font-size: 16px;
    }

    .card-text {
      font-size: 14px;
    }

    .card {
      margin-bottom: 35px;
    }

    .card::after {
      content: "";
      display: block;
      background: #eeeeee;
      height: 3px;
      max-width: 340px;
      margin-top: 25px;
    }

    .aside-content {
      max-width: 330px;
    }

    .new-posts-title {
      margin-bottom: 30px;
      font-size: 16px;
    }

    .search {
      margin-top: 45px;
    }

    .tags-aside-title, .themes-title, .products-title, .trends-title {
      margin-top: 40px;
      margin-bottom: 30px;
      font-size: 16px;
    }
    
    .products {
      padding-right: 15px;
      padding-left: 15px;
      margin-bottom: 40px;
    }

    .product-list {
      flex-direction: column;
    }

    .product {
      width: 100%;
      margin-bottom: 25px;
    }

    .product-title {
      font-size: 17px;
    }

    .right {
      margin-top: 45px;
    }

    .form-row:nth-child(n+2) {
      margin-top: 20px;
    }

    .textarea-field {
      min-width: 100%;
      max-width: 100%;
    }

    .radio-group-text::before {
      width: 30px;
      height: 30px;
      margin-right: 5px;
      background-size: 30px;
    }

    .popup-container {
      max-width: 90%;
      max-height: 85%;
    }

    .popup-close::after {
      width: 30px;
      height: 30px;
      background-size: 30px;
      top: 40%;
      left: -10px;
    }

    .popup-title {
      font-size: 16px;
      padding-top: 25px;
    }

    .header-slogan {
      flex-direction: column;
      padding-top: 0;
    }

    .header-title {
      margin-top: 0;
    }

    .popup-button {
      width: -webkit-fill-available;
      padding: 15px;
    }
  }
