body {
    margin: 0;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
  }
  
  .header {
    position: relative;
    padding: 30px 0;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #000000;
    padding-bottom: 145px;
    z-index: 0;
    font-family: "Open Sans", arial, sans-serif;
   }
  
  .header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1170px;
    padding: 0 15px;
    text-align: center;
  }
  
  .menu {
    display: block;
    margin-top: 15px;   
  }
  
  .header-logo {
    width: 160px;
  }
  
  .menu-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;  
    }
  
  .menu-list-item:nth-child(n+2) {
    margin-left: 35px;
  }
  
  .menu-link {
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
   
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }
  
  .header-title {
    display: block;
    margin-top: 0;
    font-size: 45px;
    text-transform: uppercase;
    line-height: 75px;
    color: #ffffff;
    padding-top: 130px;
    margin-right: auto;
    margin-left: auto;
    width: 690px;
  }

  .trends-title {
      font-size: 20px;
      font-weight: bold;
      font-family: "Open Sans", arial, sans-serif;
      line-height: 29.15px;
      color: #0f0d0e;
      text-transform: uppercase;
      text-align: center;
      margin-top: 65px;
      margin-bottom: 40px;
  }

  .trends-title::after {
      content: "";
      width: 65px;
      background: #b59f5b;
      height: 3px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 10px;
      opacity: 0.4;
  }

  .trends {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
  }

  .trend-card:nth-child(-n+3) {
     margin-right: 5px;
  }

  .trend-card {
      display: flex;
      align-items: flex-end;
      position: relative;
      background-color: #eff6f1;
      z-index: 0;
      width: 25%;
      padding-right: 20px;
      padding-bottom: 15px;
      padding-left: 20px;
  }

  .trend-card::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000000;
      opacity: 0.6;
      z-index: -1;
  }

  .trend-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border: 3px solid #b59f5b;
      padding: 35px 30px ;
  }

  .trend-tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      padding-inline-start: unset;
      margin-bottom: 0;
  }

  .trend-tag {
      font-size: 14px;
      font-weight: bold;
      font-family: "Open Sans", arial, sans-serif;
      margin-right: 15px;
  }

  .trend-text {
      font-size: 20px;
      font-weight: bold;
      font-family: "Open Sans", arial, sans-serif;
      line-height: 24px;
      color: #ffffff;
      text-transform: uppercase;
      margin-top: 5px;
      margin-bottom: 0;
  }

  .trend-image1 {
      background-image: url(../images/trend1.jpg);
      }

  .trend-image2 {
      background-image: url(../images/trend2.jpg);
  }

  .trend-image3 {
      background-image: url(../images/trend3.jpg);
  }

  .trend-image4 {
      background-image: url(../images/trend4.jpg);
  }

  .trend-image1, .trend-image2, .trend-image3, .trend-image4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 320px;
  }

  .trend-link {
      text-decoration: none;
      color: #ffffff;
  }
  
  .trend-link:hover {
      color: #b59f5b;
  }

  
  .main-content {
    width: 1170px;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    font-family: "Open Sans", arial, sans-serif;
  }
  
  .posts {
    max-width: 780px;
    margin-right: 120px;
  }
  
  .image {
    width: 380px;
    background-color: #a3cac7;
    position: relative;
  }
  
  .card {
    display: flex;
    margin-bottom: 60px;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .tags-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b59f5b;
  }
  
  .tags-link:hover {
    text-decoration: underline;
  }
  
  .card-tag:nth-child(n+2) {
    margin-left: 15px;
  }
  
  .card-title-link {
    font-size: 20px;
    text-decoration: none;
    line-height: 24px;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
    
  }
  
  .card-title-link:hover {
    color: #b59f5b;
  }
  
  .card-title {
    margin-top: 0;
  }
   
  .card-date {
    font-size: 12px;
    line-height: 40px;
    color: #888888;
    margin-right: 15px;
  }
  
  .card-author {
    font-size: 12px;
    line-height: 40px;
    font-weight: bold;
    color: #000000;
  }
  
  .card-text {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
  }
  
  .card-content {
    margin-left: 30px;
  }
  
  aside.aside-content {
    width: 272px;
    
  }
  .aside-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
  }
  
  .new-posts-title {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 29.15px;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
    position: relative;
    text-align: center;
  }
  
  .new-posts-title::after {
    content: "";
    width: 65px;
    background: #b59f5b;
    height: 3px;
    position: absolute;
    left: 105px;
    bottom: -5px;
    opacity: 0.4;
  }
  
  .card-aside {
    display: flex;
    
  }
  
  .card-aside-image {
    max-width: 70px;
  }
  
  .card-aside-content {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .card-date-aside {
    font-size: 12px;
    color: #000000;
    opacity: 0.54;
  }
  
  .aside-image {
    width: 70px;
    background-color: #a3cac7;
    position: relative;
  }
  
  .card-aside-title-link {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .card-aside-title-link:hover {
    color: #b59f5b;
  }
  
  .card-aside-title {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .new-posts article:first-of-type {
    margin-top: 25px;
  }
  
  .new-posts article:nth-child(n+2) {
    margin-top: 20px;
  }
  
  .search {
    display: flex;
    margin-top: 60px;
  }
  
  .form-hint {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .searchbox {
    box-sizing: border-box;
    width: 223px;
    height: 47px;
    padding: 15px 20px;
    font-size: 13px;
    font-family: inherit;
    color: #000000;
    vertical-align: middle;
    border: none;
    background-color: #f4f7f6;
  }
  
  .searchbox:focus {
    border-bottom: 1px solid #f4f7f6;
    outline: none;
  }
  
  .button-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .button-search {
    height: 47px;
    width: 47px;
    vertical-align: middle;
    margin-left: 0;
    border: none;
    background-color: #b59f5b;
    cursor: pointer;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
  }
  
  .button-search:hover {
    background-color: #323232;
  }
  
  .subscription-title {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    line-height: 29.15px;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    width: 110px;
  }
  
  .subscription-title::after {
    content: "";
    width: 60%;
    background: #b59f5b;
    height: 3px;
    position: absolute;
    left: 23px;
    bottom: -5px;
    opacity: 0.4;
  } 
  
  .email {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 22px;
  }
  
  .email-title {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  
  .email-field {
    box-sizing: border-box;
    height: 47px;
    border: none;
    font-size: 13px;
    font-family: inherit;
    color: #000000;
    padding: 15px 20px;
    background-color: #f4f7f6;
    width: -webkit-fill-available;
  }
  
  .email-field {
    outline: none;
  }
  
  .email-button {
    height: 47px;
    background-color: #b59f5b;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    margin-top: 17px;
    cursor: pointer;
  }
  
  .email-button:hover {
    background-color: #323232;
  }
  
  .tags-aside-title {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    line-height: 29.15px;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    width: 110px;
  }
  
  .tags-aside-title::after {
    content: "";
    width: 60%;
    background: #b59f5b;
    height: 3px;
    position: absolute;
    left: 23px;
    bottom: -5px;
    opacity: 0.4;
  } 
  
  .tags-aside-list {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: unset;
    margin-top: 40px;
  }
  
  .tag-aside:nth-child(n+1) {
    margin-right: 5px;
  }
  
  .tag-aside {
    display: inline-block;
    border: 3px solid #f4f3f1;
    padding: 3px 10px;
    margin-bottom: 5px;
  }
  
  .tag-aside-link {
    font-size: 12px;
    font-weight: bold;
    color: #0f0d0e;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .themes-title {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    line-height: 29.15px;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    width: 110px;
  }
  
  .themes-title::after {
    content: "";
    width: 60%;
    background: #b59f5b;
    height: 3px;
    position: absolute;
    left: 23px;
    bottom: -5px;
    opacity: 0.4;
  }
  
  .themes-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-inline-start: unset;
    
  }
  
  .themes-item {
    position: relative;
  }
  
  .themes-item::after {
    content: "";
    width: 100%;
    background: #eeeeee;
    height: 2px;
    position: absolute;
    bottom: -2.5px;
    opacity: 1;
    left: 0;
  }
  
  .themes-item-link {
    font-size: 14px;
    font-weight: bold;
    line-height: 47px;
    text-decoration: none;
    color: #000000;
    text-transform: capitalize;
    margin-right: 3px;
  }
  
  .themes-item-link:hover {
    color: #b59f5b;
  }
  
  .quantity {
    font-size: 12px;
    font-weight: bold;
    color: #b59f5b;
    line-height: 36.82px;
    vertical-align: super;
  }

  .products {
    font-family: "Open Sans" , arial, sans-serif;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;
  }

  .products-title {
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
    line-height: 29.15px;
    margin-bottom: 45px;
  }

  .products-title::after {
    content: "";
    width: 65px;
    background: #b59f5b;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    opacity: 0.4;
  }

  .product-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }

  .product {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: #0f0d0e;
  }

  .product-imgbox {
    margin-left: auto;
    margin-right: auto;
  }

  .product-image {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .product-body {
    padding: 55px 20px 20px;
    margin-top: -25px;
    border: 3px solid #b59f5b;
  }

  .product-title {
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
    line-height: 24px;
    color: #0f0d0e;
  }

  .product-description {
    font-size: 15px;
    line-height: 22px;
  }

  .product-description:hover {
    font-weight: bold;
  }

  .product-description-link {
    text-decoration: none;
    color: #b59f5b;
  }

  .product-description-link:hover {
    text-decoration: underline;
  }

  .product-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 25px;
  }

  .product-price {
    font-size: 20px;
    font-weight: bold;
    display: flex;
  }

  .product-price-old {
    text-decoration: line-through;
    font-size: 14px;
    font-weight: bold;
  }

  .product-rub {
    margin-left: 0.2em;
  }

  .product-button {
    border: none;
    background-color: #b59f5b;
    padding: 1em 2em;
    cursor: pointer;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
  }
 
  .footer {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Open Sans", arial, sans-serif;
  }
  
  .social-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style-type: none;
    position: relative;
    background-color: #f4f7f6;
    padding-inline-start: 0;
  }
  
  .social-link {
    display: block;
    width: 23px;
    height: 23px;
  }
  
  .social-item-text {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    
  }
  
  .social-link-twitter::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background-image: url(../svg/004-twitter.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
    
  }
  
  .social-item:nth-child(n+2) {
    margin-left: 25px;
  }
  
  .social-link-pinterest {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background-image: url(../svg/001-pinterest.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
  }
  
  .social-link-facebook {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background-image: url(../svg/002-facebook-logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
  }
  
  .social-link-instagram {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background-image: url(../svg/005-instagram.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
  }
  
  .social-link-tumblr {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background-image: url(../svg/003-tumblr.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
  }
  .rights {
    margin-top: 73px;
    text-align: center;
  }
  
  .rights-text {
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    text-decoration: none;
  }